.box-header-tnc{
    background-size         : contain;
    background-repeat       : no-repeat;
    width                   : 100%;
    padding                 : 2rem 3rem;
    z-index                 : 3;
    position                : relative;
    overflow                : hidden;
    background-color        : #0C0109;

    .childern{
        height: 37rem;
        @include respond(phone) { // width <= 600
            height: 95rem;
        }
        @include respond(phone375) { // width <= 600
            height: 85rem;
        }
        @include respond(phone320) { // width <= 600
            height: 70rem;
        }
    }
}

.section_headchild-tnc{
    margin-top : 15rem;
    &--title{
        text-align: left;
        padding: 5rem 5rem 5rem 15rem;
        @include respond(phone) { // width <= 600
            text-align: center;
            padding: 5rem;
        }
        h1{
            color       : white;
            font-family : 'Nunito', sans-serif;
            font-weight : 700;
        }
    }
    &--content{
        padding: 5rem 5rem 5rem 15rem;
        font-size: 1.6rem;
        color: white;
        @include respond(phone) { // width <= 600
            padding: 0;
        }
        li:before{
            padding-left: 15px;
        }
        ol{
            .no2 {
                margin-bottom: 1rem;
                ol{
                    padding-left: 20px;
                }
                .thisOl{
                    padding-left: 27px;
                }
            }
            .no3{
                margin-bottom: 1rem;
                ul{
                    padding-left: 20px;
                }
            }
            .no4{
                margin-bottom: 1rem;
                ol{
                    padding-left: 20px;
                    ul{
                        padding-left: 20px;
                    }
                }
            }
            .no5{
                ol{
                    li{
                        ul{
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
}


